
##function. Replace 10% of the values by null values whose index positions are generated using random function.<br>
##a. Identify and count missing values in a dataframe.<br>
##b. Drop the column having more than 5 null values.<br>
##c. Identify the row label having maximum of the sum of all values in a row and drop that row.<br>
##d. Sort the dataframe on the basis of the first column.<br>
##e. Remove all duplicates from the first column.

In [ ]:
import pandas as pd
import numpy as np
r=np.random.randint(0,150,size=(50,3))
df=pd.DataFrame(r,columns=['a','b','c'])
df
print(" ")
print(" ")
a1=0.1*(df.shape[1]*df.shape[0])
for i in range(int(a1)):
    id1=np.random.randint(0,50)
    id2=np.random.randint(0,3)
    df.loc[id1,df.columns[id2]]=np.nan
print('after adding nan values')
print(df)
print(" ")
print(" ")

In [ ]:
#a
a=df.isnull().sum()
print("counting null values",a)
a1=df.isnull().sum().sum()
print("total null values",a1)
print(" ")
print(" ")

In [ ]:
#b
b=df.dropna(axis=1,thresh=df.shape[0]-5)
print("droping  column with more than 5  null values")
print(b)
print(" ")
print(" ")

In [ ]:
#c
rowSum=df.sum(axis=1)
index=rowSum.idxmax(axis=0)
print( " row with max sum==",index)

print(rowSum.drop(index))
print(" ")
print(" ")

In [ ]:
#d
c=df.sort_values( by='a')
print( "sorting according to first column")
print(c)
print(" ")
print(" ")

In [ ]:
d8=df[df.duplicated()]
print("DED",d8)
d=df.drop_duplicates(subset='a',keep=False)
print("after removing duplicates",d)
print(" ")
print(" ")

In [ ]:
#f
e1=df['a'].corr(df['b'])
print("correlation= ",e1)
e2=df['b'].cov(df['c'])
print("covarience= ",e2)
print(" ")
print(" ")

In [45]:
#g
print(" ")
a1=df['a'].quantile(0.25)
a2=df['b'].quantile(0.75)


iqr=a2-a1

ub=a2+1.5*iqr
lb=a1-1.5*iqr
print("ll",lb)
print("ul:",ub)


new_row={'a':[-1000,500],'b':[200,400],'c':[100,300]}
new_df=pd.concat([df,pd.DataFrame(new_row)],ignore_index=True)
print(new_df)
index=np.where((new_df['a']<lb) | (new_df>ub))  
print("indexes are: ",index[0])
new_df.drop(index[0],inplace=True)
print(new_df)

ll -104.875
ul: 240.125
         a      b      c
0     18.0  131.0  124.0
1    146.0   91.0    NaN
2      NaN   31.0   61.0
3     75.0   64.0   48.0
4    135.0   82.0    NaN
5      5.0    1.0   55.0
6    149.0  104.0    6.0
7     19.0   69.0  115.0
8     43.0  126.0  149.0
9     47.0  147.0   51.0
10   140.0   23.0   55.0
11    12.0   61.0  131.0
12   147.0  126.0   45.0
13   135.0  111.0  135.0
14    72.0  102.0  102.0
15   134.0   29.0  134.0
16    89.0  131.0  129.0
17    74.0  119.0  122.0
18     3.0   87.0    NaN
19   129.0  129.0   10.0
20    15.0    NaN    NaN
21     1.0   69.0  109.0
22   138.0  127.0  106.0
23    59.0   37.0   85.0
24   110.0  116.0   30.0
25   141.0    2.0   61.0
26   121.0   42.0  120.0
27    26.0  106.0  146.0
28     6.0    NaN   43.0
29    95.0  115.0   57.0
30    19.0    NaN    NaN
31    31.0  110.0  149.0
32   108.0   64.0   89.0
33    64.0   26.0  120.0
34    21.0  105.0  121.0
35     NaN   79.0  104.0
36    92.0    0.0    NaN
37     NaN   60.0   68.0
38   118.0   33.0  103.0
39    24.0   87.0  120.0
40   107.0  143.0   93.0
41    77.0   61.0  147.0
42   107.0   17.0  108.0
43    37.0   93.0  125.0
44    35.0   82.0   94.0
45    14.0   29.0   70.0
46     NaN    6.0  136.0
47   148.0    NaN    4.0
48    46.0    7.0  143.0
49    46.0   87.0  113.0
50 -1000.0  200.0  100.0
51   500.0  400.0  300.0
indexes are:  [51 51 51]
         a      b      c
0     18.0  131.0  124.0
1    146.0   91.0    NaN
2      NaN   31.0   61.0
3     75.0   64.0   48.0
4    135.0   82.0    NaN
5      5.0    1.0   55.0
6    149.0  104.0    6.0
7     19.0   69.0  115.0
8     43.0  126.0  149.0
9     47.0  147.0   51.0
10   140.0   23.0   55.0
11    12.0   61.0  131.0
12   147.0  126.0   45.0
13   135.0  111.0  135.0
14    72.0  102.0  102.0
15   134.0   29.0  134.0
16    89.0  131.0  129.0
17    74.0  119.0  122.0
18     3.0   87.0    NaN
19   129.0  129.0   10.0
20    15.0    NaN    NaN
21     1.0   69.0  109.0
22   138.0  127.0  106.0
23    59.0   37.0   85.0
24   110.0  116.0   30.0
25   141.0    2.0   61.0
26   121.0   42.0  120.0
27    26.0  106.0  146.0
28     6.0    NaN   43.0
29    95.0  115.0   57.0
30    19.0    NaN    NaN
31    31.0  110.0  149.0
32   108.0   64.0   89.0
33    64.0   26.0  120.0
34    21.0  105.0  121.0
35     NaN   79.0  104.0
36    92.0    0.0    NaN
37     NaN   60.0   68.0
38   118.0   33.0  103.0
39    24.0   87.0  120.0
40   107.0  143.0   93.0
41    77.0   61.0  147.0
42   107.0   17.0  108.0
43    37.0   93.0  125.0
44    35.0   82.0   94.0
45    14.0   29.0   70.0
46     NaN    6.0  136.0
47   148.0    NaN    4.0
48    46.0    7.0  143.0
49    46.0   87.0  113.0
50 -1000.0  200.0  100.0

In [ ]:

#h
h=pd.qcut(new_df["b"],5)
h1=pd.value_counts(h)
print(h1)